server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartGov
    username: postgres
    password: 9546899242


  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: SmartGov
